<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>boh show</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>22 Berry</h1>
			<p><em>Simply put, simply delicious.</em></p>
		</div>
		<nav class="navbar">
			<ul>
				<li><a href="/home.html">Return Home</a></li>
				<li><a href="/menu">View All Items</a></li>
				<li><a href="/about.html">About Us</a></li>
			</ul>
		</nav>
		<h1><%= menuItem.name %></h1>
		<p><%= menuItem.description %></p>
		<p><%= menuItem.allergens %></p>
		<p><%= menuItem.price %></p>
<<<<<<< HEAD
		
=======
		<form action="/menu/<%= menuItem._id %>?_method=DELETE" method="post">


				<input id="delete-button"
							 type="submit"
							 value="Delete">

		</form>
>>>>>>> 951d37f3233498e59c22b0477d0291aef117abbe
	</div>
</body>
</html>
